:root {
  --cor-p1: #f3e6d8;
  --cor-p2: #e4ded8;
  --cor-p3: #5f574e;
  --cor-p4: #854632;
  --cor-p5: #302d2c;
  --cor-w: #ffffff;
  --cor-s1: #fff5fa;
  --cor-s2: #7b284f;
}

.cor-p1 {
  color: var(--cor-p1);
}
.cor-p2 {
  color: var(--cor-p2);
}
.cor-p3 {
  color: var(--cor-p3);
}
.cor-p4 {
  color: var(--cor-p4);
}
.cor-p5 {
  color: var(--cor-p5);
}
.cor-w {
  color: var(--cor-w);
}
.cor-s1 {
  color: var(--cor-s1);
}
.cor-s2 {
  color: var(--cor-s2);
}
