body {
  background: var(--cor-p1);
}

.omelette-foto {
  border-radius: 25px;
}

main {
  max-width: 1000px;
  background: var(--cor-w);
  margin: 50px auto;
  padding: 40px 50px;
  border-radius: 50px;

  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
  gap: 48px;
}

/* INTRO */

.intro h1 {
  margin-bottom: 16px;
}

/* PREPARATION */

.preparation {
  background: var(--cor-s1);
  border-radius: 25px;
  padding: 25px;
}

.preparation h2 {
  margin-bottom: 16px;
}

.preparation li {
  padding-left: 12px;
}

.preparation li::marker {
  color: var(--cor-s2);
  font-size: 1rem;
}

/* INSTRUCTIONS */
.instructions li::marker {
  color: var(--cor-p4);
  font-weight: bold;
}

/* NUTRITION */
.nutrition > p {
  margin-bottom: 30px;
}

.nutrition-table {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px 0;
}
