img {
  max-width: 100%;
}

body,
h1,
h2,
p,
ul {
  margin: 0;
}

.box {
  max-width: 900px;
  width: 100%;
  box-sizing: border-box;
}

h2 {
  margin-bottom: 24px;
}

li {
  padding-left: 20px;
}

ul li:nth-child(n + 2) {
  margin-top: 12px;
}

ol li:nth-child(n + 2) {
  margin-top: 20px;
}

.bt {
  border-top: 2px solid var(--cor-p2);
  padding-top: 48px;
}

.bb:nth-last-child(n + 3) {
  border-bottom: 2px solid var(--cor-p2);
  padding-bottom: 20px;
}

@media (max-width: 700px) {
  h2 {
    margin-bottom: 12px;
  }

  ul,
  ol {
    padding-left: 30px;
  }

  li {
    padding-left: 0px;
  }

  .bt {
    padding-top: 24px;
  }
}
